<!DOCTYPE html>
<html>
    <head>
        <title>Flack</title>
        <!-- Socket.io -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link href="/static/styles/index.css" rel="stylesheet">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">

        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/0b431ba239.js" crossorigin="anonymous"></script>

        <!-- Index + Socket.io implementation  -->
        <script src="{{ url_for('static', filename='script/index.js') }}" type="module" charset="utf-8"></script>

        <!-- Handle a browser with JS disabled -->
        <noscript>
            <style type="text/css">
                main {display:none;}
            </style>
            <h1>In order to provide the best experience possible, we encourage you to activate JavaScript in your browser. Unfortunately, Flack cannot be experienced without JavaScript. </h1>
        </noscript>
        
    </head>
    <body>
        <main>
            <div class="container-fluid">
                <!-- Header -->
                <div class="row">
                    <div id="header" class="col-12">
                        <!-- Not displayed, used to center header -->
                        <div id="helper" class="username header-name"></div>
                        <img id="flack-logo-black" class="img-fluid" src="../static/images/flack-black.png" alt="Flack logo">
                        <div class="username header-name"></div>
                    </div>
                </div>
                <!-- Chat Area -->
                <div id="main-section" class="row">
                    <div id="rooms" class="col-2">
                        <!-- Room Creation form -->
                        <div id="new_room_form">
                            <h2 id="available-rooms">Available Rooms</h2>
                            <input autocomplete="off" type="text" name="new_room" id="new_room" placeholder="Add New Room">
                            <button id="add_room" type="button"><i class="fas fa-plus"></i></button>
                        </div>
                        <div id="room_list_area">
                            <!-- List of Rooms -->
                            <ul id="room_list">
                                {% for room in rooms|reverse %}
                                    <p class="room">{{ room|title }}</p>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="day-night-area">
                            Day - Night
                        </div>
                    </div>
                    <div id="chat" class="col-10">
                        <!-- Messages -->

                        <div id="room_name_area">
                            <h2 id="room_name"></h2>
                        </div>
                        
                        <div id="messages_area">
                            <div id="display-messages-section">
                            </div>
                        </div>

                        <div id="input-area">
                            <input type="text" id="message" placeholder="Type here..." autocomplete="off">
                            <button type="button" id="send_message">SEND</button> 
                        </div>

                    </div>
                </div>
            </div>
        </main>
    </body>
</html>