body {
  width: 100vw;
  height: 100vh;
}
body main {
  width: 100%;
  height: 100%;
}
body main .container-fluid {
  width: 100%;
  height: 100%;
}
body main .container-fluid #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45px;
}
body main .container-fluid #header #flack-logo-black {
  width: 90px;
}
body main .container-fluid #header .header-name {
  align-self: flex-end;
  padding: 0px 5px 5px 0px;
  font-family: "Comfortaa", cursive;
}
body main .container-fluid #header #helper {
  visibility: hidden;
}
body main .container-fluid #main-section {
  height: calc(100% - 45px);
}
body main .container-fluid #main-section #rooms {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
body main .container-fluid #main-section #rooms #available-rooms {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  margin-top: 15px;
  color: black;
}
body main .container-fluid #main-section #rooms #new_room_form {
  min-height: 100px;
  height: 15%;
}
body main .container-fluid #main-section #rooms #new_room_form #new_room {
  margin-top: 25px;
  border-radius: 25px;
  padding: 3px 10px;
  width: 80%;
  margin-right: 0px;
  border: 2px solid;
}
body main .container-fluid #main-section #rooms #new_room_form #add_room {
  border: 2px solid;
  border-radius: 15px;
  position: absolute;
  margin-left: 5px;
  margin-top: 27px;
}
body main .container-fluid #main-section #rooms #new_room_form #add_room:hover {
  opacity: 0.7;
}
body main .container-fluid #main-section #rooms #room_list_area {
  height: 70%;
  overflow: auto;
}
body main .container-fluid #main-section #rooms #room_list_area #room_list {
  padding: 0;
}
body main .container-fluid #main-section #rooms #room_list_area #room_list .room {
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  color: black;
}
body main .container-fluid #main-section #rooms #room_list_area #room_list .room:hover {
  opacity: 0.8;
  cursor: pointer;
}
body main .container-fluid #main-section #rooms #day-night-area {
  height: 10%;
  text-align: center;
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
body main .container-fluid #main-section #rooms #day-night-area .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
body main .container-fluid #main-section #rooms #day-night-area .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body main .container-fluid #main-section #rooms #day-night-area .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body main .container-fluid #main-section #rooms #day-night-area .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border: 2px solid #41B3A3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body main .container-fluid #main-section #rooms #day-night-area input:checked + .slider {
  background-color: black;
}
body main .container-fluid #main-section #rooms #day-night-area input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
}
body main .container-fluid #main-section #rooms #day-night-area .slider.round {
  border-radius: 34px;
}
body main .container-fluid #main-section #rooms #day-night-area .slider.round:before {
  border-radius: 50%;
}
body main .container-fluid #main-section #rooms #day-night-area .icon {
  position: relative;
  top: 5px;
}
body main .container-fluid #main-section #rooms #day-night-area #sun {
  right: 3px;
  color: #E1DA14;
}
body main .container-fluid #main-section #rooms #day-night-area #moon {
  left: 3px;
  color: #1480DF;
}
body main .container-fluid #main-section #chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
body main .container-fluid #main-section #chat #room_name_area {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body main .container-fluid #main-section #chat #room_name_area #room_name {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  margin-bottom: 0;
}
body main .container-fluid #main-section #chat #messages_area {
  width: 100%;
  border-radius: 25px;
  height: 75%;
  overflow: auto;
  padding: 0px 20px 0px 20px;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section {
  margin-top: 20px;
  padding: 0px;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_box, body main .container-fluid #main-section #chat #messages_area #display-messages-section .others_box {
  margin-bottom: 10px;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .join_leave_message, body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_message, body main .container-fluid #main-section #chat #messages_area #display-messages-section .others_message {
  border-radius: 10px;
  display: inline-block;
  max-width: 50%;
  padding: 10px;
  font-size: 14px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  margin-bottom: 0px;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_time, body main .container-fluid #main-section #chat #messages_area #display-messages-section .others_time {
  float: right;
  margin-left: 20px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4px;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_text, body main .container-fluid #main-section #chat #messages_area #display-messages-section .others_text {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .others_message {
  background-color: #E8A87C;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .others_name {
  color: #F8F8F8;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_box {
  text-align: right;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_message {
  text-align: left;
  background-color: #D1F2F0;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_time {
  color: #2B2A2A;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .own_name {
  color: #41B3A3;
}
@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
    height: 0px;
    margin-bottom: 0px;
  }
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .join_leave_box {
  animation-name: myAnimation;
  animation-duration: 2500ms;
  animation-fill-mode: forwards;
  text-align: center;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .join_leave_message {
  text-align: center;
  background-color: #D1F2F0;
  opacity: 0.7;
  padding: 5px;
}
body main .container-fluid #main-section #chat #messages_area #display-messages-section .alreadyIn_message {
  animation-name: myAnimation;
  animation-duration: 2500ms;
  animation-fill-mode: forwards;
  text-align: center;
}
body main .container-fluid #main-section #chat #input-area {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
body main .container-fluid #main-section #chat #input-area #message {
  width: 96%;
  border: 2px solid;
  border-radius: 25px;
  padding: 3px 10px;
}
body main .container-fluid #main-section #chat #input-area #send_button {
  text-align: right;
}
body main .container-fluid #main-section #chat #input-area #send_button #send_message {
  border: 2px solid;
  border-radius: 15px;
  margin-left: 5px;
  margin-top: 2px;
}
body main .container-fluid #main-section #chat #input-area #send_button #send_message:hover {
  opacity: 0.7;
}

/* Hanlde add Room button overlap */
@media (max-width: 900px) {
  #add_room {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
